packages
.vs

Sale.Api/bin
Sale.Api/obj

Sale.DataAccess/bin
Sale.DataAccess/obj

SaleWebApi

Sale.App/.idea
Sale.App/.vscode
Sale.App/build
Sale.App/node_modules
Sale.App/.gitignore
Sale.App/package-lock.json
