
SaleWebApi/.vs


SaleWebApi/packages

SaleWebApi/
SaleWebApi/bin

SaleWebApi/
SaleWebApi/obj

SaleApp/.idea
SaleApp/.vscode
SaleApp/build
SaleApp/node_modules
SaleApp/.gitignore
SaleApp/package-lock.json
SaleApp/README.md